body {
	
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;

}

/* CSS para los moviles ******************************************************************************/

@media screen and (max-device-width: 900px) {

	#header{
	background-color:#0B0B61;
	border-bottom:solid 10px;
	height: 2em;
	padding-left: 1em;
	margin-bottom:1em;
}
	.fondocolor{
	background-color:#6E6E6E;
	}
	
	#bandasup{
	background-color:#804040;
	height: 30em;
	padding-left: 1em;
	padding-bottom: 1em;
	color:#ffffff;
	text-align: center;

	}
	
	#titprinc{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 2em;	
	}

	#logoprinc1{
	width:95px;
	height:95px;
	margin-top:.4em;
	}
	
	#loginbox{
		margin-bottom:2em;
		margin-top: 2em;
	}
	
	.entra1{
		float:left;
	}
	
	#username{margin-left:25px;}
	
	.botonintro{
		padding-top:30px;
		margin-left:50px;
		padding-right:50px;
	}
	
	#error{
		text-align:center;
		font-size:16px;
		color:#FFBF00;
		margin-top:10px;
	}
	
}

/* CSS para desktop***********************************************************************************/
@media screen and (min-device-width: 1000px){

	#bandasup{
	background-color:#004080;
	height: 10em;
	padding-left: 1em;
	padding-bottom: 1em;
	color:#ffffff;
	}
	
	#titprinc{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 2em;	
	}
	
	#logoprinc1{
	width:95px;
	height:95px;
	margin-top:.4em;
	float:left;
	}

	#loginbox{
		float:right;
		margin:1em;
	}
	
	.entra1{
		float:left;

	}
	
	.botonintro{
		margin-left:20px;
		float:left;
		padding-right:50px;
	}
	
	#error{
		text-align:center;
		font-size:16px;
		color:#cc0000;
		margin-top:50px;
	}
	
}


/* CSS GENERAL ******************************************************************************/

.box1{
		margin-left:10px;
	}
	
#divi1{

	width:600px;
	float:left;
	margin-right:6em;
}



#titpag {

	margin-top:1em;
}




#derarr{
	float:left;
	padding-left:1em;
	margin:1em;
	clear:right;
	width:750px;	
}

#fecha{
	float:right;
	margin-right:1em;
	margin-top:1em;
}

#actionbox{
	float:left;
	margin:10px;
	margin-left: 4em;
	margin-right:1em;
	background-color:#FF8533;
	clear:right;
	width:760px;
	border: solid 1px #333333; 
}

#saluda{
	float:right;
	margin-right:2em;
}

#cajacent{
	width:575px;
	margin-top: 1em;
	margin-left: auto ;
  	margin-right: auto ;
}


#footer{
	margin-top:1em;
	background-color:#0080FF;
	border-top:solid 10px;
	height: 2em;
	padding-left: 1em;
	padding-bottom: 1em;
}

.centraelem{
	margin:auto;
	text-align:center;
}

/*----------------------------------------------------------------------------*/
/*tablas */

table.n1 th{
	width:150px;
}


table.n1 td.enc{
	background-color: #808080;
	text-align:center;
}


#impr{
	float: left;
}
